<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link href='https://fonts.googleapis.com/css?family=Alegreya:400,700,900,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Alegreya+Sans:400,100,100italic,300,300italic,400italic,500,700,500italic,700italic,800,800italic,900,900italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,700,300italic,400italic,700italic' rel='stylesheet' type='text/css'>

    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <header>
      <a href="/"><h1>Scrabble <span class="accent">w/</span>Express</h1></a>
      <nav class="top-nav">
        <a href="/scrabble/score"><div>Score A Word</div></a>
        <a href="/scrabble/chart"><div class="current-page">Score Chart</div></a>
      </nav>
    </header>
    <main>
      <section class="score-page">

        <h2>Score Chart</h2>

        <div class="display-scores">
          <section class="left score-header"><h3>LETTERS</h3></section>
          <section class="left score-header"><h3>SCORE</h3></section>
          <div class="score left">
            <% for (var val of locals.chart_values) { %>
              <p><%= val %></p>
            <% } %>
          </div>
          <div class="scored-word left">
            <% for (var key of locals.chart_keys) { %>
              <p><%= key %></p>
            <% } %>
          </div>
        </div>

      </section>
    </main>
    <footer>
      &copy; 2016 Sophia Baldonado
    </footer>
  </body>
</html>
